* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
  }
  
.redirect-bar {
    background: #c1c1c1;
    padding: 1.6rem;
    position: relative;
    text-align: center;
    z-index: 10000;
}
.redirect-bar p span {
    background: #b2b2b2;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0 10px;
}
.redirect-bar p {
    color: #575757;
    font-family: IBM;
    font-size: 1.6rem;
    margin-bottom: 0;
}
[dir=rtl] .redirect-bar p span {
    padding: .5rem 5px .1rem 10px;
}
.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* /////////////////////////////header//////////////////// */
.navbar {
    height: 6rem;
  }
  
  .collapse {
    width: 100%;
  }
  
  .navbar-nav {
    text-align: center !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 1rem !important;
    margin-left: auto !important; /* للتأكد أن القائمة تكون في المنتصف */
  }
  
  .d-flex {
    margin-left: auto !important; /* لجعل "تسجيل الدخول" في أقصى اليسار */
  }
  
  .navbar-brand {
    margin-right: auto !important; /* لجعل الشعار في أقصى اليمين */
  }
  .nav-link {
    position: relative;
    text-decoration: none;
    color: black; /* يمكنك تخصيص اللون */
    padding: 20px 0;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #0088af;
    bottom: -5px; 
    left: 0;
    transition: width 0.3s ease-in-out;
  }
  
  .nav-link.active::after {
    width: 100%; /* عرض الخط الكامل عند النقر */
  }
  
  .nav-link.active {
    font-weight: bold; /* يمكنك تخصيص النمط عند النقر */
  }
.login {
    width: 10rem;
    cursor: pointer;
    color: #0088af;
    
}   
/* الخلفية البيضاء في وضع الموبايل عند فتح القائمة */
/* الخلفية البيضاء في وضع الموبايل */
@media (max-width: 992px) {
    .navbar-collapse {
      background-color: white;
      position: absolute; 
      top: 6rem;
      left: 0;
      width: 100%; 
      z-index: 1000; 
      padding: 1rem; 
    }
    .navbar-nav{
        text-align: right;


    }
    /* تعديل الروابط في القائمة */
    .navbar-nav .nav-link {
      color: black;
      margin: 0.5rem 0; /* بعض المساحة بين الروابط */
    }
  
    .navbar .login a {
      color: black;
    }
  }
  

  .section {
    padding: 50px 0;
    background-color: #f8f9fa;
}
.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-content .----info-title {
    color: #0088af;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.hero-content img {
    max-width: 100%;
}
.btn-main-section-one{
    border: 1px solid #0088af;
    color: #0088af;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
}
.btn-main-section{
    background-color: #0088af;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
}
.form-section {
    background-color: #0088af;
    color: white;
    padding: 20px !important;
    margin: 20px !important;
    border-radius: 10px;
    margin-top: 30px;
}
.booking-form {
    width: 100%;
}
.form-control {
    height: 50px;
    margin-bottom: 20px;
}
.form-section button {
    height: 50px;
    width: 100%;
}
/* تخصيص أيقونات السهم */
.select-arrow {
    position: absolute;
    top: 50%;
    left: 20px; /* ضبط المسافة من اليسار */
    bottom: 10px;
    transform: translateY(-50%);
    font-size: 1rem; /* حجم الأيقونة */
    color: #007bff; /* لون الأيقونة */
    pointer-events: none; /* الأيقونة غير قابلة للنقر */
  }
  
  /* جعل السلكت يظهر بشكل مناسب */
  .form-control {
    appearance: none; /* إزالة السهم الافتراضي للسلكت */
    padding-left: 2.5rem; /* إفساح المجال للسهم */
    background-color: #ffffff; /* لون الخلفية للسلكت */
    border: 1px solid #ced4da; /* تحديد اللون والحواف */
    border-radius: 0.25rem; /* تحديد حواف السلكت */
  }
  

  .hero-content {
    margin-bottom: 2rem;
  }
  
  .btn-outline-primary {
    border-color: #007bff; /* تحديد لون الحدود */
    color: #007bff; /* تحديد لون النص */
  }
  
  .btn-outline-primary:hover {
    background-color: #007bff;
    color: #ffffff; /* تغيير لون النص عند التمرير */
  }
  
  .btn-primary {
    background-color: #007bff; /* تحديد لون الخلفية */
    border-color: #007bff; /* تحديد لون الحدود */
  }
  
  .btn-primary:hover {
    background-color: #0056b3; /* تغيير لون الخلفية عند التمرير */
    border-color: #004494; /* تغيير لون الحدود عند التمرير */
  }


  /* ///////////////////////////////information/////////////////////////////////////// */
  .info-component.info-checktime {
    padding-top: 23rem;
}
.info-component {
    padding: 11rem 0;
}
.info-component .info-title {
    color: #003646;
    font-family: IBM;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 5.5rem;
    text-align: center;
}
.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info-component .info-container .info-content {
    margin-bottom: 4rem;
    text-align: center;
    width: 30rem;

}
.info-component .info-container .info-content .inf-img.annual {
    background: url(../images/dcd1074a22e0523058bf.svg) no-repeat;
    background-size: cover;
    filter: drop-shadow(0 3.89px 7.78px rgba(77, 151, 68, .3098039216));
    height: 8rem;
    width: 8rem;
    margin: auto;
}
.info-component .info-container .info-content .inf-img.trading {
    background: url(../images/8d86739dc3808dc4ddc4.svg) no-repeat;
    background-size: cover;
    filter: drop-shadow(0 3.92px 7.84px rgba(246, 194, 60, .3098039216));
    height: 8rem;
    width: 8rem;
    margin: auto;
}
.info-component .info-container .info-content .inf-img.global {
    background: url(../images/fd3beaa4a767112464c5.svg) no-repeat;
    background-size: cover;
    filter: drop-shadow(0 3.9px 7.79px rgba(0, 136, 175, .3098039216));
    height: 8rem;
    width: 8rem;
    margin: auto;
}
.inf-img img{
    max-width: 100%;
}
.inf-details{
    margin: 10px 0;
}
.inf-details h4{
    color: black;
    margin: 20px 0;
}
.inf-details p{
    color: black;
    font-size: 14px;
    opacity: 0.9;
}
@media (max-width: 768px) {
    .info-component {
        padding: 4.4rem 0;
    }
    .info-component.info-checktime {
        padding-top: 4.2rem;
    }
    .info-component .info-title {
        font-size: 3.33rem;
        margin-bottom: 3.5rem;
    }
    .info-component .info-container .info-content .inf-img {
        margin-bottom: 1.5rem;
    }
    .info-component .info-container .info-content .inf-img.annual {
        height: 6rem;
        width: 6rem;
    }
    .info-component .info-container .info-content .inf-img.trading {
        height: 6rem;
        width: 6rem;
    }
    .info-component .info-container .info-content .inf-img.global {
        height: 6rem;
        width: 6rem;
    }
    .info-component .info-container .info-content{
        width: 25rem;
    }
}
/* //////////////////////services////////////////////////// */
/* تأكد من أن العرض لا يتجاوز عرض الصفحة */
.services {
    background: linear-gradient(-82.01deg, #0088af -.14%, #006d8c 95.85%);
    padding: 3rem 0;
  }
  .swiper-container {
    width: 100%;
    overflow: hidde;
  }
  
  .services-header .info-title {
    color: #fff;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
  }
  
  .info-content {
    margin: auto;
    text-align: center;
    color: #000;
  }
  
  .swiper-container , .swiper-wrapper {
    width: 100% !important;
    height: 100% !important;
    align-items: center;
    display: flex;
    justify-content: space-between;

  }
  
  
  .swiper-slide {
    max-width: 300px !important; /* أو أي قيمة مناسبة */
    background-color: white;
    box-sizing: border-box;
  }
  
  .swiper-pagination {
    text-align: center;
    margin-top: 1rem; /* ضبط المسافة بين السلايدر والنقاط */
  }
  
  .swiper-pagination-bullet {
    background: #ffffff;
    opacity: 0.6;
  }
  
  .swiper-pagination-bullet-active {
    background: #0088af;
  }
  

  .swiper-container {
    position: relative;
    padding-bottom: 50px;
  }
  
  .swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    text-align: center;
  }
  
  .swiper-pagination-bullet {
    background: #000; 
    opacity: 1;
    margin: 0 5px; 
    width: 15.07px !important;
    height: 5.33px !important;
    border-radius: 5px !important;
  }
  
  .swiper-pagination-bullet-active {
    background: #0088af !important; 
  }
  .mySwiper2 .swiper-pagination {
    display: none;
  }
  .swiper-container {
    overflow: hidden;
  }
  /* /////////////////////////Maps///////////////////// */
  .map-img {
    background: url(../images/45d21450619cd1ee2df3.png) no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    position: relative;
  }
  
  .parrent-map {
    position: absolute;
    top: 50px;
    left: 20px;
    right: 20px;
    color: white;
  }
  
  .map-content {
    display: flex;
    justify-content: space-between;
  }
  
  .map-details {
    width: 48%;
    text-align: center;
  }
  
  .map-details h2 {
    color: white;
    font-weight: 700;
    font-size: 2.5rem;
  }
  
  .map-number {
    color: yellow !important;
    font-weight: 800 !important;
    font-size: 3rem !important;
  }
  
  .point {
    position: absolute;
    cursor: pointer;
  }
  
  .point img {
    width: 20px;
    height: 20px;
  }
  
  .zone-name {
    display: none;
    position: absolute;
    top: -20px;
    left: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 3px;
  }
  .map-details-1 {
    text-align: center;
  }
  
  .point:hover .zone-name {
    display: block;
  }
  
  /* لجعل التصميم مناسباً للشاشات الصغيرة */
  @media screen and (max-width: 768px) {
    .map-details h2 {
      font-weight: 500;
      font-size: 1.5rem;
    }
    .map-number {
      color: yellow !important;
      font-weight: 500 !important;
      font-size: 2rem !important;
    }
    .map-details-1 {
        text-align: right;
      }
      
    .parrent-map {
        top: 10px;
    }
    .map-details-1 h2{
        font-size: 18px;
    }
    .map-details-1  p , .map-details-2 p {
        font-size: 12px;
    }
  }
  
  

/* /////////////footer/////////////////////// */
.footer {
    background: #003646;
    padding-top: 95px;
}
.footer .footer-top .footer-link-cont .footer-links h4 {
    color: #cce7ef;
    font-family: IBM;
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 2rem;
}
.footer .footer-top .footer-link-cont .footer-links ul {
    list-style: none;
    padding: 0;
}
.footer .footer-top .footer-link-cont .footer-links ul li {
    margin-bottom: 1.4rem;
}
.footer .footer-top .footer-link-cont .footer-links ul li a {
    color: #f7fafd !important;
    cursor: pointer !important;
    font-family: IBM !important;
    font-size: 1.4rem !important;
    font-weight: 300 !important;
    text-decoration: none !important;
    margin: 0px !important;
}
.footer .footer-top .footer-link-cont .footer-links ul li a:hover {
    color: #0088af !important;
}
.footer .footer-top .partners {
    display: flex;
}
[dir=rtl] .footer .footer-top .partners .partner-block {
    margin-left: 30px;
}
.footer .footer-top .partners .partner-block h5 {
    color: #f7fafd;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.footer .footer-top .partners .partner-block .partner-img.supervising {
    background: url(../images/e8567d776b5b796b80eb.png) no-repeat;
    background-size: cover;
}
.footer .footer-top .partners .partner-block .partner-img {
    height: 5.5rem;
    position: relative;
    width: 7rem;
}
[dir=rtl] .footer .footer-top .partners .partner-block {
    margin-left: 30px;
}
.footer .footer-top .partners .partner-block h5 {
    color: #f7fafd;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
[dir=ltr] .text-end, [dir=rtl] .text-start {
    text-align: right !important;
}
.footer .footer-top .partners .partner-block .partner-img.theqa {
    background: url(../fc4a734….svg) no-repeat;
    background-size: cover;
}
.footer .footer-top .partners .partner-block .partner-img {
    height: 5.5rem;
    position: relative;
    width: 7rem;
}
.footer .footer-top .partners .partner-block .partner-img .partner-link {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.footer .footer-top .partners .partner-block .partner-img.rooya {
    align-self: flex-end;
    background: url(../1185860….svg) no-repeat;
    background-size: 100% 100%;
}
.footer .footer-top .partners .partner-block .partner-img {
    height: 5.5rem;
    position: relative;
    width: 7rem;
}
.footer .footer-bottom {
    border-top: 1px solid #1a5262;
    color: #f7fafd;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    margin-top: 9rem;
    padding: 26px 0;
}
.footer .footer-top h4 {
    color: #cce7ef;
    font-family: IBM;
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.footer .footer-top .footer-google-store {
    margin-left: 2rem;
    padding-right: 10px;
}
[dir=rtl] .footer .footer-top .footer-app-store {
    margin-left: 2rem;
    padding-right: 38px;
}
.footer .footer-top .footer-app-store {
    background: url(../images/22df01a4321c2797353b.svg) no-repeat;
    background-size: 100% 100%;
    color: #333;
    font-family: IBM;
    font-size: 9px;
    font-weight: 700;
    height: 40px;
    padding-top: 5px;
    text-align: start;
    text-decoration: none;
    width: 120px;
}
.footer .footer-top .footer-google-store {
    background: url(../images/e8567d776b5b796b80eb.png) no-repeat;
    background-size: 100% 100%;
    color: #333;
    font-family: IBM;
    font-size: 9px;
    font-weight: 700;
    height: 40px;
    padding-top: 5px;
    text-align: start;
    text-decoration: none;
    width: 120px;
}
.footer .footer-top .footer-social {
    display: flex;
    list-style: none;
    padding: 0;
}
.footer .footer-top .footer-social li a i{
    color: #0088af;
    font-size: 28px;
    
}
[dir=rtl] .footer .footer-top .footer-social li {
    margin-left: 1rem;
}


@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width: 768px) {
    .footer .footer-top .footer-link-cont {
        display: flex;
        justify-content: center;
    }
     .footer .footer-top .footer-link-cont .footer-links {
        margin-left: 4rem;
    }
}

@media (max-width: 768px) {
    .redirect-bar p {
        font-size: 14px;
    }
    .redirect-bar p span {
        font-size: 14px ;
        font-weight: 600;
    }
    .footer .footer-top h4 {
        font-size: 1.2rem;
    }
    .footer .footer-top .footer-link-cont .footer-links ul li a {
        font-size: 14px;
    }
    .footer .footer-top .footer-social{
        margin: auto;
        justify-content: center;
    }
    .footer .footer-top .footer-social li {
        margin-left: 1rem;
    }
    .footer .footer-top .footer-social li a i{
        font-size: 22px;
    }
    
}


